@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --sb-track-color: transparent;
  --sb-thumb-color: #a0a0a0b9;
  --sb-size: 10px;
}

*::-webkit-scrollbar {
  width: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 7px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 7px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.landing {
  background-color: #00000091;
  background: url("https://images.unsplash.com/photo-1618773928121-c32242e63f39?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"),
    linear-gradient(transparent, #aa0000);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
